# Do not use quotes (' or ") around values
# Twitch configuration
# Generate a Twitch OAuth token for your bot account

#get on https://twitchtokengenerator.com/
#there will be a pop up "I am here to get a", you'll click BOT CHAT TOKEN
TWITCH_TOKEN=oauth:<your Twitch token>

# Twitch channel name (lowercase)
TWITCH_CHANNEL=<your channel name>


# Browser configuration
# Recommended browser: Brave (built-in ad blocker)
# The bot should use a separate browser profile, not your personal profile.
# Browser profile directory for the bot

# Example:
# ./brave_bot_profile
# C:/Users/username/AppData/Local/BraveSoftware/Brave-Browser/User Data
BROWSER_USER_DATA_DIR=

# Absolute path to browser executable
# Example:
# C:/Program Files/BraveSoftware/Brave-Browser/Application/brave.exe
BROWSER_EXECUTABLE_PATH=
