#your twitch token IMPORTANT - leave "oauth:" in
#for example oauth:m98cr239m8c243293wc85m722m92cf
TWITCH_TOKEN=

#for example vaanitaass
TWITCH_CHANNEL=

#TRUE if you want automatic playlist if nothing is added to queue
AUTO_PLAYLIST=TRUE

#if TRUE, it'll play from osu! directory
OSU_STATE=TRUE

#here put path to osu songs directory (right click on osu! songs folder and copy as path)
PLAYLIST_PATH_OSU=C:\Users\filip\AppData\Local\osu!\Songs

#if you're not using osu folder put your playlist folder here. Just MP3s in the directory. Same copy technique as osu dir.
PLAYLIST_PATH=

#users that can use !skip !pause !
#for example: vaanitaass,kaito3332
USERS_WITH_PERMS=
